[mcu expander]
serial: /dev/serial/by-id/usb-Klipper_stm32f042x6_350022000D43504735393520-if00
restart_method: command

[output_pin mosfet0]
pin: expander:PA0
pwm: true
cycle_time: 0.010
value: 0
shutdown_value: 0

[output_pin mosfet1]
pin: expander:PA1
pwm: true
cycle_time: 0.010
value: 0
shutdown_value: 0

[output_pin mosfet2]
pin: expander:PA2
pwm: true
cycle_time: 0.010
value: 0
shutdown_value: 0

[output_pin mosfet3]
pin: expander:PA3
pwm: true
cycle_time: 0.010
value: 0
shutdown_value: 0

# Status LED lights when klipper connects 
[static_digital_output onboardLED]
pins: !expander:PA4


[neopixel expanderPixel]
pin: expander:PB1
chain_count: 1
initial_RED: 0.9
initial_GREEN: 0.3
initial_BLUE: 0.0

# Other Pins
# T0 = PA6
# T1 = PA5
# GPIO = PA7
