[mcu uDisplay]
serial: /dev/serial/by-id/usb-Klipper_stm32f042x6_2F0018000543534839383420-if00 
restart_method: command

[display]
lcd_type: sh1106
i2c_mcu: uDisplay
i2c_bus: i2c1a
click_pin: ^!uDisplay:PA3
back_pin: ^!uDisplay:PA0
up_pin: ^!uDisplay:PA2
down_pin: ^!uDisplay:PA4
kill_pin: ^!uDisplay:PA5
#vcomh: 0
#   Set the Vcomh value on SSD1306/SH1106 displays. This value is
#   associated with a "smearing" effect on some OLED displays. The
#   value may range from 0 to 63. Default is 0.
#   Adjust this value if you get some vertical stripes on your display. (31 seems to be a good value)

[neopixel displayStatus]
pin: uDisplay:PA6
chain_count: 1
color_order: GRB
initial_RED: 0.2
initial_GREEN: 0.05
initial_BLUE: 0
